@import "tailwindcss";

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
@keyframes scaleIn {
  from { transform: scale(.9); opacity: 0 }
  to { transform: scale(1); opacity: 1 }
}
.animate-fadeIn { animation: fadeIn .25s ease-out }
.animate-scaleIn { animation: scaleIn .25s ease-out }
